
.m-item {
  text-align: center;
  }
  
.m-ar-title {      width: 100%;
                      height: 40px;
                      display: flex;
                      justify-content: center;
                      align-items: center;
  }
ion-img{
  height: 180px;
      width: 100%;
}

ion-toolbar{
  --background:rgb(211, 149, 149);
}
/* h1{
  color: rgb(0, 0, 0);
    margin-left: 20px;
    font-weight: 800;
} */